.pub {
  width: 95%;
  border: 2px solid #bbb;
  border-radius: 4px;
  margin: 50px;
}
.com5 {
  height: 200px;
  width: 15%;
  border: 2px solid #bbb;
  border-radius: 4px;
  margin: 50px;
  float:  left;
}
.com6 {
  height: 200px;
  width: 15%;
  border: 2px solid #bbb;
  border-radius: 4px;
  margin: 50px;
  float:  left;
  text-align: center;
}
.com6-margin{
  margin: 15px;
}